<launch>
    <group ns="$(env ROBOT_NAME)">
        <!-- Node 1 -->
        <node name="aruco_detector" pkg="alterego_aruco_detection" type="aruco_detector.py" output="screen"/>
        <node name="gen_fixed_goal" pkg="alterego_aruco_detection" type="publish_marker_goal.py" output="screen"/>


    </group>  

</launch>